<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Login</title>
  </head>
  <body class="flex justify-center items-center h-screen bg-gray-100">
    <form
      method="POST"
      class="relative py-12 px-6 w-[400px] bg-white border border-gray-300 rounded-2xl flex flex-col gap-8 shadow-md"
    >
      <h1 class="text-3xl font-bold uppercase mb-4">Masuk Akun</h1>
      <div class="flex flex-col gap-2">
        <label for="username" class="uppercase">Username</label>
        <input type="text" id="username" />
      </div>
      <div class="flex flex-col gap-2">
        <label for="password" class="uppercase">Password</label>
        <input type="password" id="password" />
      </div>
      <div class="w-full">
        <button
          type="text"
          class="w-full bg-blue-50 border border-blue-500 text-blue-500 py-2 rounded-md uppercase"
        >
          Lanjut
        </button>
      </div>
    </form>
  </body>
</html>
